.gradient-background {
    background: linear-gradient(300deg, #0E2954, hsl(197, 64%, 34%), #2E8A99);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

* {
    font-family: "Rubik", sans-serif;
}

#hero {
    height: 100vh;
    color: rgb(243, 243, 237);
    background-image: url('/resource/img/heroBackground.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: start;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background-color: rgba(14, 41, 84, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#about-me {
    position: relative;
    /* Make the parent element relative for absolute positioning */
    color: #ffffff;
    height: 100vh;
    overflow: hidden;
    /* Prevent content overflow */
}

#about-me::before {
    content: "";
    /* Required to create a pseudo-element */
    position: absolute;
    /* Position it absolutely within the parent */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/resource/img/heroBackground2.jpg');
    background-size: cover;
    /* Cover the entire area */
    background-position: center;
    /* Center the background image */
    opacity: 0.6;
    /* Change this value for desired opacity */
    z-index: 0;
    /* Place it behind other content */
}

#about-me>* {
    position: relative;
    /* Ensure child elements appear above the pseudo-element */
    z-index: 1;
    /* Place child content above the background */
}

#about {
    background-color: rgba(14, 41, 84, 0.8);
}

#upload {
    padding-bottom: 20px;
}

#contact {
    color: rgb(243, 243, 237);
    background-image: url('/resource/img/heroBackground3.jpg');
}

.overlay2 {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(14, 41, 84, 0.8);
    z-index: 1;
}

/* job listing */
.card {
    height: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}